# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.idea/
.vscode/

# Node
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hugging Face Cache
Sema-ASR/model_checkpoints/

# OS / Editor
.DS_Store
*.swp
